/**
 * Page background color
 */
$background-color: #eff1f4;

/**
 * Main text color
 */
$text-color: #555555;

/**
 * Main text size
 */
$text-size-base: 15px;

/**
 Links text color
 */
$link-color: #3a99d8;

/**
 * General text font family
 */
$font-family-base: 'Roboto', sans-serif;

/**
 * Font family for headings, navigations
 * Remove if font family is the same as basic
 */
$font-family-heading: 'Roboto Condensed', sans-serif;

/**
 * Background color for top navigation (header)
 */
$header-background-color: #ffffff;

/**
 * Text color for top navigation (header)
 */
$header-text-color: #555555;

/**
 * Background color for bottom navigation (footer)
 */
$footer-background-color: #cacaca;

/**
 * Text color for bottom navigation (footer)
 */
$footer-text-color: #ffffff;

/**
 Primary color
 */
$primary: #e74c3c;
