.idea
etc
redis
docker-compose.yml
src/vendor
client-helper
blockchain_data
.vscode
src/public/js
src/public/css
src/public/mix-manifest.json
src/supervisord.pid
src/supervisord.log
ipfs
node_modules
