html {
    font-size: $text-size-base;
}

body {
    font-family: $font-family-base;
    background-color: $background-color;
    color: $text-color;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-family-heading;
    color: $text-color;
}

p {
    font-size: 1rem;
    color: $text-color;
}

a, a * {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: $link-color;

    &:hover {
        color: $link-hover-color;
    }
}

label {
    font-size: 1rem;
}
