@import "~bootstrap/scss/variables";

/*
 * Default variables
 */
$font-family-heading: $font-family-base !default;
$background-color: #ffffff !default;
$text-color: #3C4858 !default;
$link-color: #007bff !default;
$header-background-color: $background-color !default;
$header-text-color: $text-color !default;
$footer-background-color: $background-color !default;
$footer-text-color: $text-color !default;
$text-size-base: 16px !default;
$primary: $primary !default;


/*
 * Customized variables
 */
@import "../config";
$link-hover-color: darken($link-color, 10%);
