version: "3.7"

services:
  nginx:
    image: umputun/nginx-le:latest
    hostname: nginx
    restart: always
    container_name: nginx
    logging:
      driver: json-file
      options:
          max-size: "10m"
          max-file: "5"
    volumes:
        - ./etc/ssl:/etc/nginx/ssl
        - ./etc/nginx/service.conf:/etc/nginx/service.conf
    ports:
{% if app_env == 'local' %}
      - "8080:8080"
{% else %}
      - "80:80"
      - "443:443"
{% endif %}
    networks:
      - frontend
    environment:
      - TZ=America/Chicago
{% if app_env != 'local' %}
      - LETSENCRYPT=true
{% else %}
      - LETSENCRYPT=false
{% endif %}
      - LE_EMAIL=techops@obada.io
      - LE_FQDN={{ rd_fqdn }}

  app:
    image: obada/reference-design:develop
    container_name: reference-design
    volumes:
{% if app_env == 'local' %}
      - ./src:/app
{% endif %}
      - ./etc/.env:/app/.env
    restart: always
    networks:
      - backend
      - frontend

  client-helper:
    image: obada/client-helper:develop
    container_name: client-helper
    restart: always
    volumes:
      - ./client-helper/data:/home/obada/data
    environment:
      - DB_PATH=/home/obada/data
    networks:
      - backend

  db:
    image: mysql:8
    container_name: db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD={{ db_password }}
      - MYSQL_DATABASE=reference-design
    ports:
      - 127.0.0.1:3306:3306
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - backend

networks:
  backend:
  frontend:

volumes:
  db_data: {}
