/**
 * Page background color
 */
$background-color: {{ background_color }};

/**
 * Main text color
 */
$text-color: {{ text_color }};

/**
 * Main text size
 */
$text-size-base: {{ text_size_base }};

/**
 Links text color
 */
$link-color: {{ link_color }};

/**
 * General text font family
 */
$font-family-base: 'Roboto', sans-serif;

/**
 * Font family for headings, navigations
 * Remove if font family is the same as basic
 */
$font-family-heading: 'Roboto Condensed', sans-serif;

/**
 * Background color for top navigation (header)
 */
$header-background-color: {{ header_background_color }};

/**
 * Text color for top navigation (header)
 */
$header-text-color: {{ header_text_color }};

/**
 * Background color for bottom navigation (footer)
 */
$footer-background-color: {{ footer_background_color }};

/**
 * Text color for bottom navigation (footer)
 */
$footer-text-color: {{ footer_text_color }};

/**
 Primary color
 */
$primary-color: {{ primary_color }};
